body {
    margin: 0;
    box-sizing: content-box;
}

.layoutSidebar {
    display: grid;
    grid-template: 20vh 1fr / 15vw 1fr;
    height: 100vh;
}

.sidebar {
    background-color: #1e71e3;
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    background-color: #ffffff;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 0 4px 10px #c7d3d5;
    z-index: 1;
}

.header {
    background-color: #ffffff;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 0 4px 10px #c7d3d5;
    z-index: 1;
}

.mainContent {
    background-color: #f5f6f7;
    grid-area: 2 / 2 / 3 / 3;
    
}

.nav-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    gap: 10px;
    padding: 0 20px;
    font-weight: 700;
}

.nav-item.main {
    height: 100px;
    font-size: 30px;
}